# Sistema operativo
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Archivos temporales
*.tmp
*.temp
*.log

# Archivos de respaldo
*.bak
*.backup

# Variables de entorno
.env
.env.*
!.env.example