<nav class="main-navbar">

    <div class="navbar-container">

        <!-- LOGO -->

        <a href="index.html" class="navbar-logo">

            <img
                src="assets/images/logo/logo.png"
                alt="Logo">

        </a>


        <!-- BOTÓN MOBILE -->

        <button
            class="navbar-toggle"
            id="navbarToggle"
            aria-label="Abrir menú">

            <i class="bi bi-list"></i>

        </button>


        <!-- MENÚ -->

        <div class="navbar-menu" id="navbarMenu">

            <a href="#" class="nav-link">
                Habitaciones
            </a>

            <a href="#" class="nav-link">
                Experiencias
            </a>

            <a href="#" class="nav-link">
                Restaurante & bar
            </a>

            <a href="#" class="nav-link">
                Amenidades
            </a>

            <a href="#" class="nav-link">
                Eventos
            </a>

            <a href="#" class="nav-link">
                Negocios
            </a>

            <a href="#" class="nav-link">
                Promociones
            </a>

            <a href="#" class="nav-link">
                Rosarito
            </a>


            <!-- RESERVAS -->

            <a href="#" class="navbar-reservations">
                Reservas
            </a>

        </div>

    </div>

</nav>