
/* =========================
   TABLET / MOBILE
========================= */

@media (max-width: 991px) {

    .navbar-container {

        padding: 15px 20px;

    }


    .navbar-logo img {

        width: 130px;

    }


    /* BOTÓN */

    .navbar-toggle {

        display: block;

        z-index: 1100;

    }


    /* MENÚ */

    .navbar-menu {

        position: absolute;

        top: 100%;
        left: 0;

        width: 100%;

        background: #ffffff;

        padding: 25px 20px 30px;

        display: none;

        flex-direction: column;

        align-items: stretch;

        gap: 0;

        box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.10);

    }


    .navbar-menu.active {

        display: flex;

    }


    /* LINKS */

    .navbar-menu .nav-link {

        color: #e83e8c;

        padding: 14px 10px;

        border-bottom: 1px solid #eeeeee;

        font-size: 16px;

    }


    .navbar-menu .nav-link:hover {

        color: #d63384;

    }


    /* RESERVACIONES */

    .navbar-reservations {

        margin-top: 20px;

        width: 100%;

        padding: 13px;

        background: #e83e8c;

        color: #ffffff;

        text-align: center;

    }

}

@media (max-width: 991px) {

    .hero-content {

        padding: 30px 20px 35px;

    }


    .hero-buttons {

        flex-direction: column;

        align-items: flex-start;

        gap: 10px;

    }


    .hero-button {

        width: 200px;

    }


    .hero-direct-booking {

        font-size: 13px;

    }

}

@media (max-width: 991px) {

    .hero-titles h1 {

        font-size: clamp(48px, 13vw, 75px);

    }


    .hero-phrase {

        margin-top: 18px;
        margin-bottom: 18px;

        font-size: 28px;

    }

}